<div class="footer">
    <p>Footer</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad eveniet incidunt inventore mollitia nobis
        obcaecati voluptas voluptate. Ad animi dolor dolore eius eligendi modi numquam quos repellat soluta
        veritatis?</p>
    <div class="footer-links">
        <a href="#" target="_blank">Legals</a>
        <a href="#" target="_blank">Privacy</a>
        <a href="#" target="_blank">Contact</a>
    </div>
</div>