<!doctype html>
<html lang="en">
{{>head}}
<body>
<div class="wrapper">
    <div class="email-wrapper">
        <div class="container">
            <div class="upper-line"></div>
            {{> header }}
            <div class="content">
                <h3>Hi, {{username}}!</h3>
                <p>With this letter we confirm that you have requested the process of recovering your forgotten
                    password.</p>
                <p>As you can see below, there is a button that will help you recover lost access to your account. </p>
                <div class="actions">
                    <a href="{{link}}" class="button">Reset my password</a>
                </div>
                <p>To our great regret and of course to ensure proper security, the link will only be active for <strong>two hours</strong>.</p>
                {{> regards }}
            </div>
        </div>
        {{>footer}}
    </div>
</div>
</body>
</html>